media-block {
  article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  img {
    border: 1px solid rgba(38, 38, 38, 0.8);
    border-radius: 0.8rem;
    max-width: 100%;
  }

  a {
    color: light-dark(rgb(0, 0, 0), rgb(255, 255, 255));
    font-weight: 500;
  }
}
