<template id="admin">
  <admin-panel data-path="${path}" data-document-view="${documentView}"></admin-panel>
</template>
<!--${header}-->
<template id="header">
  <header>
    <a href="/">
      <img src="/images/janilla-logo-light.svg" loading="lazy" />
    </a>
    <nav>
      <!--${navItems}-->
      <a href="/search">
        <span class="visually-hidden">Search</span>
        <lucide-icon data-name="search"></lucide-icon>
      </a>
    </nav>
  </header>
</template>
<template id="link">
  <a href="${url}">${label}</a>
</template>
<!--${content}-->
<template id="page">
  <page-element data-slug="${slug}"></page-element>
</template>
<template id="posts">
  <posts-element></posts-element>
</template>
<template id="post">
  <post-element data-slug="${slug}"></post-element>
</template>
<template id="search">
  <search-element data-query="${query}"></search-element>
</template>
<!--${footer}-->
<template id="footer">
  <footer>
    <a href="/">
      <img src="/images/janilla-logo-light.svg" loading="lazy" />
    </a>
    <nav>
      <!--${navItems}-->
    </nav>
    <div>
      <select>
        <option value="auto">Auto</option>
        <option value="light">Light</option>
        <option value="dark">Dark</option>
      </select>
      <lucide-icon data-name="chevron-down"></lucide-icon>
    </div>
  </footer>
</template>
