<main>
  <article>
    <h2>Contact</h2>
    <!--${user}-->
    <!--${payment}-->
    <article>
      <h2>Your Cart</h2>
      <ul>
        <!--${cartItems}-->
      </ul>
      <p>Total: ${cartTotal}</p>
    </article>
  </article>
</main>

<template id="user">
  <p>${email}</p>
  <p>
    Not you?
    <a href="/logout">Log out</a>
  </p>
</template>

<template id="guest">
  <p>
    <a href="/login">Log in</a> or <a href="/create-account">create an account</a>
  </p>
  <form>
    <p>Enter your email to checkout as a guest.</p>
    <label>
      Email Address
      <input name="email" />
    </label>
    <button>Continue as guest</button>
  </form>
</template>

<template id="payment">
  <payment-element data-email="${email}" data-amount="${amount}"></payment-element>
</template>
