<main>
  <article>
    <h2>Contact</h2>
    <p>
      <a href="/login">Log in</a> or <a href="/create-account">create an account</a>
    </p>
    <form>
      <p>Enter your email to checkout as a guest.</p>
      <label>
        Email Address
        <input name="email" />
      </label>
      <button>Continue as guest</button>
    </form>
    <!--${payment}-->
    <article>
      <h2>Your Cart</h2>
      <ul>
        <!--${cartItems}-->
      </ul>
      <p>Total: ${cartTotal}</p>
    </article>
  </article>
</main>

<template id="payment">
  <payment-element data-email="${email}" data-amount="${amount}"></payment-element>
</template>
