<main>
  <article>
    <a href="/shop">
      <lucide-icon data-name="chevron-left"></lucide-icon>
      All products
    </a>
    <img src="${image.uri}" loading="lazy" />

    <div id="gallery-arrows">
      <ul>
        <!--${galleryArrows}-->
      </ul>
    </div>

    <div id="gallery-thumbnails">
      <ul>
        <!--${galleryThumbnails}-->
      </ul>
    </div>

    <h1>${title}</h1>
    <p>
      <intl-format data-type="amount" data-value="${lowestAmount}"></intl-format>
      -
      <intl-format data-type="amount" data-value="${highestAmount}"></intl-format>
    </p>
    <p>${description}</p>
    <form>
      <!--${variantSelector}-->
      <button disabled="${disabled}" class="primary">Add To Cart</button>
    </form>
  </article>
</main>

<template id="gallery-arrow">
  <li>
    <button>
      <lucide-icon data-name="${name}"></lucide-icon>
    </button>
  </li>
</template>

<template id="gallery-thumbnail">
  <li>
    <button class="nobutton ${active}">
      <img src="${image.uri}" loading="lazy" />
    </button>
  </li>
</template>

<template id="variant-selector">
  <variant-selector></variant-selector>
</template>
