<main>
  <article>
    <form>
      <label for="search" class="visually-hidden">Search</label>
      <div>
        <input id="search" name="query" value="${query}" placeholder="Search for products..." autocomplete="off" />
        <lucide-icon data-name="search"></lucide-icon>
      </div>
      <button class="visually-hidden">submit</button>
    </form>
    <div>
      <!--${cards}-->
    </div>
  </article>
</main>

<template id="card">
  <card-element data-slug="${slug}"></card-element>
</template>
