shop-element {
  margin-top: 2rem;

  main > article {
    padding: 1rem;

    &,
    > div {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    > div {
      @media (min-width: 1441px) {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  ul {
    display: flex;
    gap: 1rem;

    a {
      background: transparent;
      border-radius: 0.25rem;
      color: gray;
      font-size: 0.875rem;
      padding: 0.5rem;
      text-decoration: none;
      text-transform: uppercase;
      white-space: nowrap;
  
      &.active {
        background: darkgray;
        color: white;
      }
    }
  }
}
